<!-- <div
  class="row m-0 p-0 justify-content-end align-items-center w-100 order-card"
>
  <div class="col-4 p-0 m-0 h-100 d-flex align-items-center">
    <p>{{ order.user.name }}</p>
  </div>
  <div class="col-2 h-100 d-flex align-items-center p-0 m-0">
    <a [routerLink]="order._id" class="btn"> View details </a>
  </div>
  <div class="col-3 p-0 m-0 h-100 d-flex align-items-center">
    <p class="">
      <i class="fa-solid fa-calendar-days"></i> Status: {{ order.status }}
    </p>
  </div>
  <div class="col-3 p-0 m-0 h-100 d-flex align-items-center">
    <p class="">
      <i class="fa-solid fa-calendar-days"></i> total price: {{ order.amount }}
      <span> Posted on: {{ postDate }} </span>
    </p>
  </div>
</div> -->

<div class="card" style="width: 18rem">
  <div class="card-body position-relative">
    <span class="badge position rounded-pill bg-success m-2"
      >order No: {{ i + 1 }}</span
    >
    <!-- <h5 class="card-title"></h5> -->
    <p class="mb-2 mt-3">
      <i class="fa-solid fa-pen-nib text-secondary"></i>
      <span class="grn px-1">Name:</span>{{ order.user.name }}
    </p>
    <p class="">
      <i class="fa-solid fa-truck text-secondary"></i>
      <span class="grn px-1">isDelivered:</span>
      {{ order.isDelivered }}
    </p>
    <p class="">
      <i class="fa-solid fa-calendar-days text-secondary"></i>
      <span class="grn"> Posted on: </span>{{ postDate }}
    </p>
    <p class="">
      <i class="fa-solid fa-comment-dollar text-secondary"></i>
      <span class="grn"> total price:</span>
      {{ order.totalOrderPrice | currency }}
    </p>
    <a [routerLink]="order._id" class="hov"> View order details </a>
  </div>
</div>
